 body,html {
  min-height:100%;
  margin:0pc;
  background:black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  }
  
video, img {
  height:100%; width:100%;
  border-radius: 5px;
  }

button:focus, a:focus {
  outline:none!important;
  }
button:active {opacity:0.5;}
section {
  height: 100%;
  position: relative;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 1px;
  background-image: url('http://oky.16mb.com/MYpublic/Web/12blur1.jpg') ;
  }

section:nth-of-type(2) {
  background-image: url('http://oky.16mb.com/MYpublic/Web/12.jpg');
  }

h1,p, h2 {
  padding:15px 15px 15px 40px;
  }
 
/*logo*/
#logo {
  height:50px; width:60px; 
  float:left; margin:-15px 25px 0 -15px; 
  }

#logo:hover {
  background-color: rgba(255, 255, 255, 0.05); 
  border-radius: 10px
  }

/*nav menu */
#Hd {
  margin: 100px 100px 50px 100px;
  padding: 50px;
  }

.Hd {
  color:#fff; background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  }

#mainMenu a:hover {
  background-color: #5CB85C; 
  border-radius: 5px}

.dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 0.2)!important; 
  border-radius: 0!important;
  }

#buttons button {margin: 2px;}

/*Joombotron */

.jumbotron {
  background-color: rgba(0, 0, 0, 0.7);;
  margin: 0 100px 0 100px;
  padding:50px 0 50px;
  }
  
 #jumbIn {background-color: white; border-radius: 5px} 
  
/* Jumbotron img */

#my img {
  height:175px; width:175px; 
  margin: 20px 30px 10px 40px; 
  box-shadow:  0px 0px 50px black;
  padding:10px;
}

/*portfolio*/


#portfolio {
  padding-top: 50px;
}

#rowPortf {
  margin: 0 100px 0 100px; 
  padding-bottom: 25px;
}

#carousel {
  width: 700px;
  margin: 0 auto;
  padding-top: 20px;
}

.devices {
  position: relative;
  height: 575px;
  overflow: hidden;
}

.mobile {
  background: url(http://i41.tinypic.com/332846d.png) no-repeat -278px -479px;
  position: absolute;
  width: 130px;
  height: 251px;
  top: 330px;
  left: 520px;
  z-index: 3;
}

.mobile img {
  position: absolute;
  width: 108px;
  height: 162px;
  top: 41px;
  left: 11px;
  
}

.tablet {
  background: url(http://i41.tinypic.com/332846d.png) no-repeat 0 -470px;
  width: 264px;
  height: 348px;
  z-index: 2;
  position: absolute;
  top: 227px;
  overflow: hidden;
}
.tablet img {
 width: 212px;
  height: 290px;
  position: absolute;
  top: 30px;
  left:25px;
}

.desktop {
  position: absolute;
  width: 594px;
  height: 457px;
  background: url(http://i41.tinypic.com/332846d.png) no-repeat 0 0;
  top: 0px;
  left: 100px;
  overflow: hidden;
}
.desktop img {
  position: absolute;
  width: 549px;
  height: 315px;
  left:20px;
  top:22px;
}
.carousel-control:hover {
  background-color: rgba(255,255,255,0.5)
}

/*footer */
#footer {
  height: 100px; width: 100%;
}
.row-centered {
  text-align: center;
}
.fixed {
  position: fixed; bottom:0; left:0; 
  border-radius: 0  30px 0 0
}
