<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	
</head>
<body ng-app='myApp' ng-controller='myCtrl' ng-style="myStyle">
      <div id="particles-js"></div>
          <!--iconR-->
          <div ng-cloak>
          <div class="row" id='iconR'>
            <div ng-switch='ctrl.tab' id="iconS" style="">
              <span ng-switch-default='tab0'></span>
              <span ng-switch-when='tab1' class="fa">Wiki</span>
              <span ng-switch-when='tab2' class="fa">Film</span>
              <span ng-switch-when='tab3' class="fa">Youtube</span>
               <span ng-switch-when='tab4' class="fa">flickr</span>
            </div>
          <!--iconS-->
          <!--input-group-->
              <div ng-switch='ctrl.tab' id='formContr' style="">
                 <input 
                    class="form-control" 
                    ng-model='search.searchByYoutube' 
                    placeholder="search local" 
                    ng-switch-default='tab0'>
                <input 
                    class="form-control" 
                    ng-model='search.searchByWiki'
                    ng-init="search.searchByWiki='Wiki'" 
                    placeholder="Wiki search"  
                    ng-switch-when='tab1'>
                <input 
                    class="form-control" 
                    ng-model='search.searchByTitle' 
                    ng-init="search.searchByTitle='Film'" 
                    placeholder="Video search" 
                    ng-switch-when='tab2' >
                <input
                     class="form-control"
                     ng-model='search.searchByYoutube' 
                     placeholder="Youtube search" 
                     ng-switch-when='tab3'>
                <input
                     class="form-control"
                     ng-model='search.searchByFlickr'
                     ng-init="search.searchByFlickr='Flickr'" 
                     placeholder="Flickr search" 
                     ng-switch-when='tab4'>
                </div>
          <!--input-group-->
         </div>
            <!--menu-button-->
              <div class="menu-button"><i class="fa fa-search" style="padding:10px"
                  value="set background" 
                  ng-click="ctrl.tab='tab0'; myStyle={'background-color':'gold'}"></i>
                  <a  value="set background"
                  ng-click="ctrl.tab='tab1'; myStyle={'background-color':'#7ec0ee'}" ><i class="fa fa-wikipedia-w" ></i></a>
                  <a value="set background" 
                  ng-click="ctrl.tab='tab2'; myStyle={'background-color':'coral'}"><i class="fa fa-video-camera" ></i></a>
                  <a  value="set background" 
                  ng-click="ctrl.tab='tab3'; myStyle={'background-color':'black'}" ><i class="fa fa-youtube" ></i></a>
                   <a  value="set background"
                  ng-click="ctrl.tab='tab4'; myStyle={'background-color':'#2D1152'}" ><i class="fa fa-flickr"></i></a>
              </div>
             <!--menu-button-->
      <!--content-->
       <div class="container container1">
            <div class="row">
             	<div ng-switch='ctrl.tab'>
								<div ng-repeat='wiki in wikis' ng-switch-when='tab1' class="col-md-6">
                    <!--<p>{{wiki}}</p>-->
                  	<h4>{{wiki.name}}</h4>
                    <p>{{wiki.snip}}</p><a href="{{wiki.link}}" target='_blank'>Read More 
                   </a>
                </div>
             </div>
          </div><!--row-->
        </div><!--container-->
         <div class="container container2">
              <div ng-switch='ctrl.tab' class="row col-md-12">
                <div ng-repeat='movie in movies' ng-switch-when='tab2' class="col-md-offset-4 col-md-6 myMovie">
                    <h4>{{movie.Error}}</h4>
                    <h4>{{movie.Title}}</h4>
                    <p>{{movie.Plot}}</p>
                    <p>{{movie.Year}}</p>
                    <p>{{movie.Runtime}}</p>
                </div>
             </div><!--row-->
        </div><!--container-->
         <div class="container container2">
              <div ng-switch='ctrl.tab' class="row col-md-12">
                <div ng-model='message' ng-switch-when='tab3' class="col-md-offset-4 col-md-6 myMovie">
                    <h4>{{message}}</h4>
                </div>
             </div><!--row-->
        </div><!--container-->
         <div class="container container3">
              <div ng-switch='ctrl.tab' class="main-column">
                <div class="row">
                  <div ng-repeat='picture in flickr.photos.photo' ng-switch-when='tab4' class="main-repeat" >
                       <div class="thumbnail">
                          <img ng-src="https://farm{{picture.farm}}.staticflickr.com/{{picture.server}}/{{picture.id}}_{{picture.secret}}_m.jpg">
                            <div class="caption">
                              <p>{{picture.title}}</p>
                            </div>
                         </div>
                  </div>
                </div><!--row-->
             </div>
        </div><!--container-->
        </div>
     </body>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="main.js">
 
</script>
</html>