<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Material</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>

<body data-ng-app='materialApp' data-ng-controller="materialCtrl">
    <div class="card">
        <div class="notifications" ng-style="notifications"></div>
        <div class="card-header" ng-style="cardHeader">
            <h1>Twitch tv</h1>
        </div>
        <div class="menu-btn" ng-style="menuBtn">
            <div class="hamburger">
                <div class="top-bun"></div>
                <div class="meat"></div>
                <div class="bottom-bun"></div>
            </div>
        </div>
        <div class="menu">
            <ul class="ulPadding">
                <li value="set background" ; ng-click="ctrl.tab='tab1'; cardHeader={'background-color':'#303F9F'}; 
              notifications={'background-color':'#3F51B5'};
              menuBtn={'background-color':'#1A237E'}">ALL</li>
                <li value="set background" ; ng-click="ctrl.tab='tab2'; cardHeader={'background-color':'#00796B'};
              notifications={'background-color':'#00897B'};
              menuBtn={'background-color':'#004D40'}">
                    ONLINE</li>
                <li value="set background" ; ng-click="ctrl.tab='tab3'; cardHeader={'background-color':'#424242'};
              notifications={'background-color':'#616161'};
              menuBtn={'background-color':'black'}">OFFLINE</li>
            </ul>
        </div>
        <!--ng-switch-->
        <div ng-switch='ctrl.tab' ng-cloak class="ngSwitch">
            <!-- tab1 -->
            <div ng-switch-default='tab1' class="container" ng-repeat="user in users">
                <a ng-href="http://www.twitch.tv/{{user.username}}" target="_blank">
                    <div class="thumbnail">
                        <img ng-src="{{user.logo ? user.logo : 'http://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/200px-No_image_available.svg.png'}}" />
                    </div>
                    <div class="content">
                        <span class="name {{user.status}}">{{user.name}}</span>
                        <i class="material-icons {{user.status}} status flRight" aria-hidden="true">perm_identity</i>
                    </div>
                </a>
            </div>
            <!-- tab2 -->
            <div ng-switch-when='tab2' class="container" ng-repeat="user in users | filter:'online'">
                <a ng-href="http://www.twitch.tv/{{user.username}}" target="_blank">
                    <div class="thumbnail">
                        <img ng-src="{{user.logo ? user.logo : 'http://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/200px-No_image_available.svg.png'}}" class='{{user.status}}' />
                    </div>
                    <div class="content">
                        <span class="name {{user.status}}">{{user.name}}</span>
                        <i class="material-icons {{user.status}} status flRight" aria-hidden="true">perm_identity</i>
                    </div>
                </a>
            </div>
            <!-- tab3 -->
            <div ng-switch-when='tab3' class="container" ng-repeat="user in users | filter:'offline'">
                <a ng-href="http://www.twitch.tv/{{user.username}}" target="_blank">
                    <div class="thumbnail">
                        <img ng-src="{{user.logo ? user.logo : 'http://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/200px-No_image_available.svg.png'}}" class='{{user.status}}' />
                    </div>
                    <div class="content">
                        <span class="name {{user.status}}">{{user.name}}</span>
                        <i class="material-icons {{user.status}} status flRight" aria-hidden="true">perm_identity</i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script src="main.js">
</script>

</html>
