
body {
      background-color: #1d1f20;
      margin:0;
      padding:0;
      text-align: center;
}

.container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
}
    
.align {
      min-width: 300px;
      min-height: 300px;
      border-radius: 10px;
}

.align2 {
    max-width: 550px;
      margin: 0 auto;
}
.align3 {
  max-width:300px; 
  margin:0 auto;"
}
    
.square {
      font-size: 12em;
      width: 1.2em;
      height: 1.2em;
      line-height: 1em;
      float: left;
      border-style: solid;
      border-color: rgba(0,0,0, 0.3);
      text-align: center;
      cursor: default;
      color: #00ffff;
     /* opacity: 0.3;*/
      cursor:pointer;
}

#a1 {background-color:red; border-top-left-radius: 50%;}
#a2 {background-color:green; border-top-right-radius: 50%;}
#b1 {background-color:blue ; border-bottom-left-radius: 50%;}
#b2 {background-color:yellow; border-bottom-right-radius: 50%;}
.bn {
      margin:5px;
      padding:5px; 
      border-radius:2px;
      border:none;
      background-color: coral;
      outline:none;
      color:#333;
      cursor:pointer;
 }

.bn:hover {color:black;}
.onOff {padding: 0 1.1em;}

#modal{
      padding:2px;
      width: 70px;
      height: 50px;
      position: absolute;
      left: 50%;
      top: 320px; 
      margin-left: -35px;
      background-color: #fff;
      z-index: 1;
      border-radius: 50%;
}

.hide {display:none}
.show {display:block;}

.sco  {
      margin:5px;
      padding:5px; 
      border-radius:2px;
      border:none;
}

.score{color:#fff;}

#particles-js {
    position: absolute;
    background-image: url("");
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top:0
}


@media (max-width: 550px) {
     .align {
       min-width: 150px;
       min-height: 150px
     }
     .square {
       font-size: 6em
     }
     #modal{top:200px;}
}