<div class="container">
        <div class="row animated zoomIn">
            <div class="col-xs-8 col-sm-6 col-md-4 pull-left col-xs-offset-2">
                <!-- col-xs-offset-2 col-sm-offset-3 col-md-offset-4 -->
                <div class="well" style='margin-top: 50px'>
                    <h2 class="text-center login-title"><span class="text-primary">Регистрация</span></h2>
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="username" class="col-lg-2 control-label">Почта</label>
                                <div class="col-lg-10">
                                    <input type="text" name="username" class="form-control" id="inputEmail" placeholder="Почта" ng-model="username" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-lg-2 control-label">Пароль</label>
                                <div class="col-lg-10">
                                    <input type="password" name="password" class="form-control" id="password" placeholder="Пароль" ng-model="password" required>
                                </div>
                            </div>
                            <div class="list-group well align-center">
                                <a ng-click="submit()" type="submit" class="list-group-item"><span class="text-primary">Подтвердить</span></a>
                                <a href="#/" class="list-group-item"><span class="text-primary">На главную</span></a>
                                <a href="#/" class="list-group-item"><span class="text-primary">Создать запись</span></a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class='col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-md-offset-0'>
                <div class="well" style='margin-top: 50px'>
                    <h2 class="text-center login-title"><span class="text-primary">Войти через</span></h2>
                    <form class="form-horizontal">
                        <fieldset>
                           <a class="list-group-item" href='#/'>
                                <span class="text-primary">Sign in with Facebook</span></a>
                            <a class="list-group-item" href='#/'>
                                <span class="text-primary">Sign in with Google</span></a>
                            <a class="list-group-item" href='#/'>
                                <span class="text-primary">Sign in with GitHub</span></a>
                            <a class="list-group-item" href='#/'>
                                <span class="text-primary">Sign in with LinkedIn</span></a>
                            <a class="list-group-item" href='#/'>
                                <span class="text-primary">Sign in with Instagram</span></a>
                            <a class="list-group-item" href='#/'>
                                <span class="text-primary">Sign in with Twitter</span></a>
                            <a class="list-group-item" href='#/'>
                                <span class="text-primary">Sign in with Foursquare</span></a>
                            <a class="list-group-item" href='#/'>
                                <span class="text-primary">Sign in with Yahoo</span></a>
                            <a class="list-group-item" href='#/'>
                                <span class="text-primary">Sign in with Windows Live</span></a>
                            <a class="list-group-item" href='#/'>
                                <span class="text-primary">Sign in with Twitch</span></a>
                            <a class="list-group-item" href='#/'>
                                <span class="text-primary">Sign in with Bitbucket</span></a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>


